/* Titulo */
@import url('https://fonts.googleapis.com/css2?family=Unna:ital,wght@0,400;0,700;1,400;1,700&display=swap');
/*   font-family: "Unna", serif;*/

/* Sub-Titulo */
@import url('https://fonts.googleapis.com/css2?family=Stoke:wght@300;400&display=swap');
/*  font-family: "Stoke", serif; */

/* Texto */
@import url('https://fonts.googleapis.com/css2?family=Fjord+One&display=swap');
/*  font-family: "Fjord One", serif; */


/*ESTILO GERAL*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Fjord One", serif;
}

::-webkit-scrollbar {
    width: 15px;
    background-color: #0f0f0f;
}

::-webkit-scrollbar-thumb {
    background-color: #ecc02d;
    border-radius: 20px;
}

html {
    scroll-behavior: smooth;
    block-size: 100%;
    inline-size: 100%;
}

a {
    text-decoration: none;
    color: #ecc02d;
    transition: .5s;
    text-decoration: underline;
}

p a:hover {
    opacity: 75%;
}



.capa {
    background-image: url(/IMG/CAPAS/capaPortfolioLinguagens.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;

    z-index: 0;
    height: 800px;
    border: 2px solid transparent;
    border-bottom: 5px solid #ecc02d;
}

body {
    background-image: url(/IMG/CAPAS/bg.png);
    background-position: center;
    height: 100vh;
    z-index: 5;
    overflow-x: hidden;
    display: grid;
}

.interface {
    max-width: 90%;
    margin: 0 auto;
}

/*ESTILO DO CABEÇARIO*/

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 0;
    background-color: transparent;
    border-bottom: 2px solid transparent;
    /* Inicialmente invisível */
    transition: border-bottom 0.3s ease-in-out;
    z-index: 10;
    transition: .2s;
}

header .interface {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo img {
    opacity: 30%;
    margin-top: 2px;
    width: 65px;
    transition: .5s;
}

.logo img:hover {
    opacity: 100%;
    scale: calc(1.05);
}

header a {
    display: inline-block;
    color: #696969;
    text-decoration: none;
    transition: 0.2s;
}

header li a:hover {
    color: #d1d1d1;
    transform: scale(1.05);
}

header nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    position: relative;
}

header nav ul li {
    display: inline-block;
    padding: 0 40px;
    margin-top: 2px;
    font-size: 20px;
}

header .btn button {
    padding: 10px 50px;
    font-size: 18px;
    font-weight: 600;

    cursor: pointer;

    border: 1px solid transparent;
    border-radius: 20px;
    background-color: transparent;
    color: #696969;
    transition: 0.5s;
}

header .btn button:hover {
    color: #d1d1d1;
    border: 1px solid #d1d1d1;
    transform: scale(1.05);
    box-shadow: 0 0 5px;
}

/* NAVBAR PORTFÓLIO */
header nav ul li a {
    display: block;
}

.drop-hover {
    position: relative;
}

/* Animação para o dropdown */
.drop-hover .drop {
    position: absolute;
    width: 100%;
    height: 0;
    overflow: hidden;
    transition: height 0.3s ease-in-out;
}

/* Animação para a imagem */
.drop-hover a .arrowBranco {
    width: 15px;
    height: 15px;
    opacity: 30%;
    transform: rotate(90deg);
    margin-left: 5px;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

/* Quando passar o mouse sobre a .drop-hover, tudo será ativado */
.drop-hover:hover .drop {
    height: 80px;
    padding-left: 5px;
    color: #696969;
}

.drop-hover:hover .arrowBranco {
    opacity: 100%;
    transform: rotate(270deg);
}

/* FIM NAVBAR PORTFÓLIO */

main {
    max-width: 90%;
    /* text-align: center; */
    align-items: center;
    margin: auto;
}

/* SECTION TRIMESTRE 1 */

/* CONFIG GERAL */
main .section-trimestre {

    font-family: "Fjord One", serif;
    color: #0f0f0f;
    /* border: 2px solid red; */

    margin-top: 850px;
    width: 100%;
}

main .section-trimestre .details-trimestre {
    margin-bottom: 60px;
    transition: .5s;
}

main .section-trimestre .details-trimestre:hover{
    scale: calc(1.02);
}

main .section-trimestre .details-trimestre .titulo-trimestre {
    cursor: pointer;
    background-color: #ecc02d;
    border: 5px solid transparent;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 2% 0 2% 2%;
    font-family: "Unna", serif;
    font-weight: 600;
    font-size: 48px;
    transition: .5s;
}

main .section-trimestre .details-trimestre .titulo-trimestre:hover{
    background-color: transparent;
    color: #d1d1d1;
    border: 5px solid #d1d1d1;

}

main .section-trimestre .details-trimestre .conteudo-trimestre {
    padding: 2% 0 2% 0;
    text-align: center;
    align-items: center;
    width: 100%;

    color: #d1d1d1;
    background-color: transparent;
    border: #ecc02d 5px solid;
}

main .section-trimestre .details-trimestre .conteudo-trimestre h2 {
    font-family: "Stoke", serif;
}

/* FIM CONFIG GERAL */

/* ATIVIDADES */
main .section-trimestre .details-trimestre .conteudo-trimestre {
    text-align: center;
    align-items: center;
    margin: auto;
}

main .section-trimestre .details-trimestre .conteudo-trimestre .atividade {
    /* border: 2px solid red; */
    max-width: 90%;
    margin: auto;
    display: flex;
}

main .section-trimestre .details-trimestre .conteudo-trimestre .atividade .atividade-text {
    /* border: 2px solid red; */
    width: 70%;
    text-align: justify;
}

main .section-trimestre .details-trimestre .conteudo-trimestre .atividade .atividade-text h2 {
    font-family: "Stoke", serif;
    font-size: 56px;
    font-weight: 600;
    color: #ecc02d;
    margin-top: 60px;
    text-align: left;

}

main .section-trimestre .details-trimestre .conteudo-trimestre .atividade .atividade-text p {
    font-family: "Fjord One", serif;
    font-size: 24px;

    color: #d1d1d1;
    margin-top: 40px;
    margin-bottom: 60px;
}

main .section-trimestre .details-trimestre .conteudo-trimestre .atividade .atividade-text span {
    font-family: "Fjord One", serif;
    font-size: 24px;

    color: #ecc02d;
}

main .section-trimestre .details-trimestre .conteudo-trimestre .atividade img {
    align-items: center;
    margin: auto;

    width: 85%;
    transition: .5s;

    border: 5px solid #ecc02d;
    cursor: pointer;
}

main .section-trimestre .details-trimestre .conteudo-trimestre .atividade img:hover {
    opacity: 85%;
    scale: calc(0.97);
}

main .section-trimestre .details-trimestre .conteudo-trimestre hr {
    margin: auto;
    margin-top: 2%;
    margin-bottom: 2%;
    border: 5px solid #ecc02d;
    width: 90%;
    border-radius: 20px;
}


/* FIM ATIVIDADES */
/* FIM SECTION TRIMESTRE 1 */